<app-header [headerData]="headerData"></app-header>

<div fxLayout="row" fxLayoutAlign="center" style="height: calc(100% - 50px);" style="padding: 15px">
  <div fxFlex="50%" fxFlex.lt-md="100%" style="padding-top: 30px;">
    <form #catForm="ngForm" novalidate>

      <div style="margin-top: 30px" *ngIf="banner.id > 0">
        <img [src]="imagePath+banner.banner" style="width: 200px; height: 200px; margin: 0 auto">
      </div>

      <mat-form-field class="full-width" style="margin-top: 30px">
        <mat-select [(value)]="banner.position" name="position" placeholder="Select Position" required>
          <mat-option *ngFor="let bp of bannerPositions" [value]="bp">{{bp}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Title:" [(ngModel)]="banner.title" name="title" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Link:" [(ngModel)]="banner.link" name="link">
        <mat-hint>Must start with http(s)</mat-hint>
      </mat-form-field>


      <div style="margin-top: 30px" *ngIf="banner.id == 0">
        <button mat-raised-button (click)="chooseFile()" [disabled]="catForm.invalid" color="warn">Choose Banner (New)</button>
        <input type="file" id="myFile" name="myFile" style="display: none" (change)="prepareFile($event)" />
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: 30px" *ngIf="banner.id > 0">
        <button fxFlex="1" mat-raised-button (click)="updateBanner(banner)" [disabled]="catForm.invalid" color="primary">Save</button>
        <div fxFlex="auto"></div>
        <button fxFlex="1" mat-raised-button (click)="deleteBanner(banner)" [disabled]="catForm.invalid" color="warn">Delete</button>
      </div>
    </form>

  </div>

</div>
