<app-header [headerData]="headerData" (deleteClick)="checkAndDelete($event)"></app-header>

<div fxLayout="row" fxLayoutAlign="center" style="height: calc(100% - 50px);" style="padding: 15px">
    <div fxFlex="50%" fxFlex.lt-md="100%" style="padding-top: 30px;">
        <form #catForm="ngForm" novalidate>

            <mat-form-field class="full-width">
              <input matInput placeholder="Category Name:" [(ngModel)]="category.category" name="catgory" required>
            </mat-form-field>

      
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Description:" [(ngModel)]="category.description" name="description"></textarea>
            </mat-form-field>

            <mat-form-field class="full-width" *ngIf="rootCategories">
                <mat-select [(value)]="category.parent_id" placeholder="Select Parent Category">
                  <mat-option [value]="none">None</mat-option>
                  <mat-option *ngFor="let cat of rootCategories" [value]="cat.id">{{cat.category}}</mat-option>
                </mat-select>
            </mat-form-field>
      
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <button fxFlex="1" mat-raised-button (click)="saveCategory(category)" [disabled]="catForm.invalid" color="primary">Save</button>
            </div>
        </form>

        <div style="margin-top: 30px" *ngIf="category.id > 0">
            <button mat-button (click)="chooseFile()" [disabled]="catForm.invalid" color="warn">Category Banner (Change) {{ category.banner }}</button>
            <img *ngIf="!category.banner" src="./assets/nobanner.jpg" style="width: 100%">
            <img *ngIf="category.banner" [src]="imagePath+category.banner" style="width: 100%">
        </div>
        <input type="file" id="myFile" name="myFile" style="display: none" (change)="prepareFile($event, category.id)"  />
    
    </div>
   
</div>