.toolbar-login {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
}

.toolbar-login-logo {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    
}



.loginform {
    margin: 50px auto;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
}