<app-header [headerData]="headerData"></app-header>
<button mat-fab color="primary" class="fabbtn" (click)="addEdit(newBanner)">
  <mat-icon>add</mat-icon>
</button>
<div fxLayout="row" fxLayoutAlign="center" style="height: calc(100% - 50px);" style="padding: 15px">
    <div fxFlex="50%" fxFlex.lt-md="100%">
        <h3>Home Main Banners</h3>
        <div [sortablejs]="homeMains" [sortablejsOptions]="optionsHome">
            <div *ngFor="let banner of homeMains" style="float: left; margin-right: 25px;">
                <img [src]="'http://localhost:8080/uploads/banner/'+banner.banner" style="width: 200px; height: 200px" />
            </div>
        </div>
        <div>{{homeMains | json}}</div>
        <div style="clear: both"></div>
        <h3>Home Sub Banners</h3>
        <div [sortablejs]="homeSubMains">
            <div *ngFor="let banner of homeSubMains" style="float: left; margin-right: 25px;">
                <img [src]="'http://localhost:8080/uploads/banner/'+banner.banner" style="width: 200px; height: 200px" />
            </div>
        </div>
        <div>{{homeSubMains | json}}</div>
        <div style="clear: both"></div>
    </div>
   
</div>