<app-header [headerData]="headerData"></app-header>

<div fxLayout="row" fxLayoutAlign="center" style="height: calc(100% - 50px);" style="padding: 15px">
    <div fxFlex="50%" fxFlex.lt-md="100%" style="padding-top: 30px;">
        <form #catForm="ngForm" novalidate>

            <mat-form-field class="full-width">
              <input matInput placeholder="Payment Method:" [(ngModel)]="paymentmethod.payment_method" name="payment_method" required>
            </mat-form-field>

            <div fxLayout="row" fxLayoutAlign="space-between center">
                <button fxFlex="1" mat-raised-button (click)="savePaymentmethod(paymentmethod)" [disabled]="catForm.invalid" color="primary">Save</button>
                <div fxFlex="auto"></div>
                <button fxFlex="1" mat-raised-button (click)="deletePaymentmethod(paymentmethod)" [disabled]="catForm.invalid" color="warn">Delete</button>
            </div>
        </form>

 
    </div>
   
</div>