<mat-toolbar color="accent" fxLayout="row" fxLayoutAlign="space-bewteen center" style="height: 50px;">
  <span fxFlex fxLaout="row" fxLayoutAlign="start center">
    <button *ngIf="headerData.backBtn" mat-icon-button (click)="_location.back()">
      <mat-icon aria-label="Example icon-button with a heart icon">arrow_back</mat-icon>
    </button>
    <mat-icon style="margin: 4px 10px 0 0">nfc</mat-icon>
    <span style="font-weight: 400; font-size: 18px;" fxShow fxHide.xs="true">Thoksaman Admin</span>
  </span>
  <span class="text-center" fxFlex>

    <span style="font-weight: 400; font-size: 16px; color: #333;">
      {{headerData.title}}
    </span>

  </span>

  <span class="text-right" fxFlex>
    <button *ngIf="!headerData.backBtn" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">

      <button mat-menu-item (click)="dashboard()">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
      <button mat-menu-item (click)="categories()">
        <mat-icon>list</mat-icon>
        <span>Categories</span>
      </button>
      <button mat-menu-item (click)="paymentMethods()">
        <mat-icon>payment</mat-icon>
        <span>Payment Methods</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="users()">
        <mat-icon>supervised_user_circle</mat-icon>
        <span>Users</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="products()">
        <mat-icon>shopping_cart</mat-icon>
        <span>Products</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="orders()">
        <mat-icon>monetization_on</mat-icon>
        <span>Manage Orders</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log Out</span>
      </button>
    </mat-menu>
  </span>
</mat-toolbar>
