<app-header [headerData]="headerData" (deleteClick)="checkAndDelete($event)"></app-header>

<div fxLayout="row" fxLayoutAlign="center" style="height: calc(100% - 50px);" style="padding: 15px">
    <div fxFlex="50%" fxFlex.lt-md="100%" style="padding-top: 30px;">
        <form #catForm="ngForm" novalidate>



            <mat-form-field class="full-width">
              <input matInput placeholder="Title:" [(ngModel)]="message.title" name="title" required>
            </mat-form-field>


            <mat-form-field class="full-width">
                <input matInput placeholder="Link:" [(ngModel)]="message.link" name="link">
                <mat-hint>Must start with http://</mat-hint>
              </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput placeholder="Order:" [(ngModel)]="message.display_order" name="dispaly_order" required>
            </mat-form-field>

            <div>
                <button fxFlex="1" mat-raised-button (click)="saveMessage(message)" [disabled]="catForm.invalid" color="primary">Save</button>

            </div>
        </form>
        
        
        
       
    </div>
   
</div>